<div
  class="sidebar"
  [class.collapsed]="isCollapsed"
>

  <!-- Toggle Button -->
  <div class="sidebar-header">

    <button
      class="btn btn-light w-100"
      (click)="toggleSidebar()"
    >
      <i class="bi bi-list"></i>
      <span *ngIf="!isCollapsed">
      </span>
    </button>

  </div>

  <!-- MENU -->
  <ul class="menu">

    <!-- Dashboard -->
    <li>

      <a
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        <i class="bi bi-speedometer2"></i>

        <span *ngIf="!isCollapsed">
          Dashboard
        </span>

      </a>

    </li>

    <!-- Employee Parent -->
    <li>

      <a
        (click)="toggleMenu('employee')"
      >
        <i class="bi bi-people"></i>

        <span *ngIf="!isCollapsed">
          Employee
        </span>

        <i
          class="bi bi-chevron-down float-end"
          *ngIf="!isCollapsed"
        ></i>

      </a>

      <!-- CHILD MENU -->
      <ul
        class="submenu"
        *ngIf="activeMenu === 'employee'"
      >

        <li>

          <a routerLink="/employee/list">
            Employee List
          </a>

        </li>

        <li>

          <a routerLink="/employee/add">
            Add Employee
          </a>

        </li>

      </ul>

    </li>

    <!-- Attendance Parent -->
    <li>

      <a
        (click)="toggleMenu('attendance')"
      >
        <i class="bi bi-calendar-check"></i>

        <span *ngIf="!isCollapsed">
          Attendance
        </span>

        <i
          class="bi bi-chevron-down float-end"
          *ngIf="!isCollapsed"
        ></i>

      </a>

      <ul
        class="submenu"
        *ngIf="activeMenu === 'attendance'"
      >

        <li>

          <a routerLink="/attendance/list">
            Attendance List
          </a>

        </li>

        <li>

          <a routerLink="/attendance/report">
            Reports
          </a>

        </li>

      </ul>

    </li>

    <!-- Reports -->
    <li>

      <a
        routerLink="/reports"
        routerLinkActive="active"
      >
        <i class="bi bi-bar-chart"></i>

        <span *ngIf="!isCollapsed">
          Reports
        </span>

      </a>

    </li>

  </ul>

</div>